#clock {  
position:relative;


margin: auto;
background: url(clock.jpg) no-repeat;
background-size:100%;
height: 40vw;
width: 40vw;




}
body{
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);  }



#first,#second,#third{ 

position: absolute;
 border-radius: 10px;

}



#first{
       background-color: crimson;
    
    
    width: 1%;
    height: 16%;
    top: 34%;
    left: 50.1%;
     transform-origin:bottom;

}







#second{

background-color: yellow;
    
    background-color: yellow;
    width: 1%;
    height: 24.5%;
    top: 25%;
    left: 50.1%;
    transform-origin: bottom;


}



#third{

background-color: ;
    
       background-color: white;
    width: 0.8%;
    height: 30%;
    top: 20%;
    left: 50.1%;
    transform-origin: bottom;

     


}


